body {
    background-color: #fef2eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #d5ab92;
    text-align: center;
}

input#file {
    display: block;
    margin: 20px auto;
    padding: 20px;
    border: none;
}

button#btn {
    background-color: #d5ab92;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}